* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 20% 20%, #292929, transparent 35%), radial-gradient(circle at 80% 80%, #1a1a1a, transparent 35%), #090909;
    overflow: hidden;
}


.box {
    width: 220px;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.12);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Glow behind button */
.box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff4d00;
    filter: blur(50px);
    opacity: 0;
    transition: 0.5s ease;
}

/* Hover button */
.box:hover {
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.6), 0 0 30px rgba(255, 69, 0, 0.15);
}

.box:hover::before {
    opacity: 0.35;
}

.text {
    position: relative;
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: transform 0.5s cubic-bezier(.68, -0.55, .27, 1.55), color 0.4s ease;
}

.box:hover .text {
    transform: translateX(-12px);
    color: rgba(0, 208, 132, 0.45);
    font-weight: 600;
}


.icon {
    position: absolute;
    left: 7px;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff6a00, #ff2d00);
    color: white;
    box-shadow: 0 5px 15px rgba(255, 69, 0, 0.4);
    z-index: 3;
    transition: left 0.55s cubic-bezier(.68, -0.55, .27, 1.55), transform 0.4s ease, background 0.4s ease, box-shadow 0.4s ease;
}

/* Move icon */
.box:hover .icon {
    left: calc(100% - 58px);
    background: linear-gradient(135deg, #00d084, #00a86b);
    transform: rotate(360deg);
    box-shadow: 0 5px 20px rgba(0, 208, 132, 0.45);
}

/* arrow */
 .icon i {
    font-size: 17px;
    transition: transform 0.4s ease;
}

.box:hover .icon i {
    transform: translateX(2px);
}

/*shine effect*/
.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.12), transparent);
    transform: skewX(-20deg);
    transition: left 0.7s ease;
}

.box:hover::after {
    left: 140%;
}

/* Click effect */
.box:active {
    transform: translateY(-2px) scale(0.97);
}

